

/*Color*/
.text-primary, .btn-outline-primary, span{
	color:#ff7500!important;
}
.btn-outline-primary:hover, .btn-outline-primary:active{
	color: #fff!important;
}
a{color:#ff7500;}
a:hover, a:active{color: #c15c07;}


/*Background Color*/
.bg-primary, .badge-primary, .btn-primary, .btn-outline-primary:active, .btn-outline-primary:hover{
	background-color: #ff7500!important;
}
.btn-primary:hover, .btn-primary:active{
	background-color: #c15c07!important;
}
.download>div{
	background-color: rgba(255,117,0,0.55);
}


/*Border Color*/
h1, .border-primary, .btn-primary, .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:hover{
	border-color:#c15c07!important;
}
.btn-primary:hover, .btn-primary:active{
	border-color: #c15c07!important;
}


/*Focus*/
.btn-primary:focus, .btn-outline-primary:focus{
	box-shadow: none;
}
input:focus, textarea:focus, button:focus{
	    box-shadow: 0 0rem 0.25rem rgba(255,117,0,0.8)!important;
	    border-color:#c15c07!important;
}
